{extend name="common/base" /}
{block name="content"}
<div class="x-nav">
    <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i>
    </a>
</div>
<div class="x-body layui-bg-gray">  
    
    <div class="layui-card">
        <div class="layui-card-header">
            卡片面板
            <div class="layui-input-inline">
                <input type="text" id="name" name="name" required="" lay-verify="required" autocomplete="off" class="layui-input" value="{$info.name|default=''}">
            </div>
            <button class="layui-btn">保存</button> 
        </div>
        <div class="layui-card-body">
            <form class="layui-form">    
                <div class="layui-row">        
                    <div class="layui-col-md3">
                        <div class="layui-form-item">
                            <label for="name" class="layui-form-label">
                                菜单名称
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" id="name" name="name" required="" lay-verify="required" autocomplete="off" class="layui-input" value="{$info.name|default=''}">
                            </div>                    
                        </div>
                    </div>                    
                    <div class="layui-col-md3">
                        <div class="layui-form-item">
                            <label for="name" class="layui-form-label">
                                菜单名称
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" id="name" name="name" required="" lay-verify="required" autocomplete="off" class="layui-input" value="{$info.name|default=''}">
                            </div>                    
                        </div>
                    </div>   
                    <div class="layui-col-md3">
                        <div class="layui-form-item">
                            <label for="name" class="layui-form-label">
                                菜单名称
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" id="name" name="name" required="" lay-verify="required" autocomplete="off" class="layui-input" value="{$info.name|default=''}">
                            </div>                    
                        </div>
                    </div>   
                    <div class="layui-col-md3">
                        <div class="layui-form-item">
                            <label for="name" class="layui-form-label">
                                菜单名称
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" id="name" name="name" required="" lay-verify="required" autocomplete="off" class="layui-input" value="{$info.name|default=''}">
                            </div>                    
                        </div>
                    </div>   
                    <div class="layui-col-md3">
                        <div class="layui-form-item">
                            <label for="name" class="layui-form-label">
                                菜单名称
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" id="name" name="name" required="" lay-verify="required" autocomplete="off" class="layui-input" value="{$info.name|default=''}">
                            </div>                    
                        </div>
                    </div>   
                </div>
            </form>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">
            卡片面板
            <div class="layui-input-inline">
                <input type="text" id="name" name="name" required="" lay-verify="required" autocomplete="off" class="layui-input" value="{$info.name|default=''}">
            </div>
            <button class="layui-btn">保存</button> 
        </div>
        <div class="layui-card-body">
            <form class="layui-form">    
                <div class="layui-row">        
                    <div class="layui-col-md3">
                        <div class="layui-form-item">
                            <label for="name" class="layui-form-label">
                                菜单名称
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" id="name" name="name" required="" lay-verify="required" autocomplete="off" class="layui-input" value="{$info.name|default=''}">
                            </div>                    
                        </div>
                    </div>                    
                    <div class="layui-col-md3">
                        <div class="layui-form-item">
                            <label for="name" class="layui-form-label">
                                菜单名称
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" id="name" name="name" required="" lay-verify="required" autocomplete="off" class="layui-input" value="{$info.name|default=''}">
                            </div>                    
                        </div>
                    </div>   
                    <div class="layui-col-md3">
                        <div class="layui-form-item">
                            <label for="name" class="layui-form-label">
                                菜单名称
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" id="name" name="name" required="" lay-verify="required" autocomplete="off" class="layui-input" value="{$info.name|default=''}">
                            </div>                    
                        </div>
                    </div>   
                    <div class="layui-col-md3">
                        <div class="layui-form-item">
                            <label for="name" class="layui-form-label">
                                菜单名称
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" id="name" name="name" required="" lay-verify="required" autocomplete="off" class="layui-input" value="{$info.name|default=''}">
                            </div>                    
                        </div>
                    </div>   
                    <div class="layui-col-md3">
                        <div class="layui-form-item">
                            <label for="name" class="layui-form-label">
                                菜单名称
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" id="name" name="name" required="" lay-verify="required" autocomplete="off" class="layui-input" value="{$info.name|default=''}">
                            </div>                    
                        </div>
                    </div>   
                </div>
            </form>
        </div>
    </div>
    
    
</div>

<script>
    $(function(){
        $('.js-fold').click(function(){            
            obj = $(this);
            var status = parseInt(obj.attr('fold'));
            if(status){
                $("tbody.x-cate tr").show();
                $('.x-show').each(function(){
                    $(this).html('&#xe625;'); 
                    $(this).attr('status','false');
                })                
            }else{                
                $("tbody.x-cate tr[fid!='0']").hide();
                $('.x-show').each(function(){
                    $(this).html('&#xe623;'); 
                    $(this).attr('status','true');
                })
            }
            obj.attr('fold', ~status+2);
        })
    })
    layui.use(['form'], function () {
        form = layui.form;
        form.on('switch(status)', function(data){
            // load层
            var i= layer.load(2);
            // 数据id
            var id = $(this).closest('tr').find('input[name=id]').val();
            var obj = $(data.elem);
            // 当前按钮状态
            var ori_status = data.value;
            // 开关原状态
            var ori_checked = !data.elem.checked;

            var status = 1;            
            if(ori_status == 1){
                status = 0;
            }       
            $.ajax({
                url: "{:url('Role/modify')}",
                type: "post",
                data: {id:id, status:status},
                success:function(res){
                    layer.close(i); 
                    if(res.status == 1){        
                        obj.val(status);            
                        layer.msg(res.msg);  
                    }else{                 
                        layer.msg(res.msg);  
                        obj.prop('checked', ori_checked);                
                        form.render('checkbox');                      
                    }
                }
            });                     

        });  
    });

    

    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            //发异步删除数据
            $(obj).parents("tr").remove();
            layer.msg('已删除!', {
                icon: 1,
                time: 1000
            });
        });
    }



    function delAll(argument) {

        var data = tableCheck.getData();

        layer.confirm('确认要删除吗？' + data, function (index) {
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {
                icon: 1
            });
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
    }
</script>

{/block}