<html>
<head>
	<meta charset="UTF-8">
	<title>x-admin</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/backend/css/font.css">
	<link rel="stylesheet" href="/static/backend/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/backend/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/backend/js/xadmin.js"></script>

</head>
<body class="login-bg">
    
    <div class="login layui-anim layui-anim-up">
        <div class="message">x-管理登录</div>
        <div id="darkbannerwrap"></div>
        
        <form method="post" class="layui-form" >
            <input name="email" placeholder="邮箱"  type="text" lay-verify="required|email" class="layui-input" value="xiao@gmail.com">
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >
        </form>
    </div>

    <script>
        $(function() {
            layui.use('form', function(){
                var form = layui.form;
                //监听提交
                form.on('submit(login)', function(data){                                        
                    $.ajax({
                        url: "{:url('/backend/login/check', '', '')}",
                        type: "post",
                        data: data.field,
                        success:function(res){
                            if(res.status == 1){
                                window.location.href = "{:url('Index/index')}";
                            }else{
                                layer.msg(res.msg);
                            }

                        }
                    });
                    return false;
                });
            });

        })        
    </script>    
    <!-- 底部结束 -->
</body>
</html>