{extend name="common/base" /}
{block name="content"}
    <!-- 顶部开始 -->
<div class="container">
    <div class="logo"><a href="./index.html">x-admin</a></div>
    <!-- <div class="left_open">
        <i title="展开左侧栏" class="iconfont">&#xe699;</i>
    </div> -->

    <ul class="layui-nav left" id="top-nav">
    {volist name="menu" id="m1"}
        {notempty name="$m1.url"}
        <li class="layui-nav-item"><a href="javascript:;" _href="{:url($m1.url)}">{$m1.name}</a></li>
        {else /}
        <li class="layui-nav-item">
            <a href="javascript:;" style="padding-right: 16px;">{$m1.name}</a>
            {if count($m1.child) > 3}
            <dl class="layui-nav-child" style="min-width: 320px;">
            {else/}
            <dl class="layui-nav-child" style="min-width: 160px;">
            {/if}
                <div class="layui-row">
                    {if count($m1.child) > 3}
                    <div class="layui-col-md6">
                        {volist name="m1.child" id="c" key="k1"}                        
                        {if $k1< ceil(count($m1.child)/2)+1}
                        <ul class="menu">
                            <h4>{$key}</h4>
                            {volist name="c" id="c2" key="k2"}
                            <li><a _href="{:url($c2.url)}">{$c2.name}</a></li>                   
                            {/volist}
                        </ul>
                        {/if}
                        {/volist}                        
                    </div>
                   <div class="layui-col-md6">
                        {volist name="m1.child" id="c" key="k1"}                        
                        {if $k1> ceil(count($m1.child)/2)}
                        <ul class="menu">
                            <h4>{$key}</h4>
                            {volist name="c" id="c2" key="k2"}
                            <li><a _href="{:url($c2.url)}">{$c2.name}</a></li>                   
                            {/volist}
                        </ul>
                        {/if}
                        {/volist}                        
                    </div>
                    
                    {else /}
                    <div class="layui-col-md12">
                        {volist name="m1.child" id="c"}
                        <ul class="menu">
                            <h4>{$key}</h4>
                            {volist name="c" id="c2"}
                            <li><a _href="{:url($c2.url)}">{$c2.name}</a></li>                   
                            {/volist}
                        </ul>
                        {/volist}                        
                    </div>                    
                    {/if}                    
                </div>
            </dl>
        </li>
        {/notempty}
    {/volist}        
    </ul>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">{$Think.session.admin.name}&nbsp;</a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd><a onclick="x_admin_show('个人信息','http://www.baidu.com')">个人信息</a></dd>
                <dd><a onclick="x_admin_show('切换帐号','http://www.baidu.com')">切换帐号</a></dd>
                <dd><a href="{:url('Login/logout')}">退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item to-index"><a href="/">前台首页</a></li>
    </ul>

</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav" style="display: none;">
    <div id="side-nav">
        <ul id="nav">
        
        <!--
            <li>
                <a _href="{:url('Menu/index')}">
                    <i class="iconfont">&#xe726;</i>

                    <cite>菜单管理</cite>
                    <i class="iconfont nav_right">&#xe6a7;</i>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>会员管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="member-list.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>会员列表</cite>
                            
                        </a>
                    </li>
                    <li>
                        <a _href="member-del.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>会员删除</cite>
                            
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont">&#xe70b;</i>
                            <cite>会员管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a _href="xxx.html">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>会员列表</cite>
                                    
                                </a>
                            </li>
                            <li>
                                <a _href="xx.html">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>会员删除</cite>
                                    
                                </a>
                            </li>
                            <li>
                                <a _href="javascript:;">
                                    <cite>等级管理</cite>
                                    <i class="iconfont nav_right">&#xe697;</i>
                                    
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a _href="xxx.html">
                                            <i class="iconfont">&#xe6a7;</i>
                                            <cite>会员列表</cite>
                                            
                                        </a>
                                    </li>
                                    <li>
                                        <a _href="xx.html">
                                            <i class="iconfont">&#xe6a7;</i>
                                            <cite>会员删除</cite>
                                            
                                        </a>
                                    </li>
                                    <li>
                                        <a _href="xx.html">
                                            <i class="iconfont">&#xe6a7;</i>
                                            <cite>等级管理</cite>
                                            
                                        </a>

                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </li>
                </ul>
            </li>
            -->
        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="page-content-bg"></div>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<!-- 底部开始 -->
<div class="footer">
    <div class="copyright">x-admin</div>
</div>
<!-- 底部结束 -->

{/block}